src-impl/org/seasar/maya/impl/builder/library/mld/mld_1_0.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!NOTATION mld_1_0 PUBLIC
        "-//The Seasar Foundation//DTD Maya Library Definition 1.0//EN">

<!ELEMENT library (description?, processor*)>
<!ATTLIST library uri CDATA #REQUIRED>

<!ELEMENT description (#PCDATA)>

<!ELEMENT processor (description?, property*)>
<!ATTLIST processor name CDATA #REQUIRED>
<!ATTLIST processor class CDATA #REQUIRED>

<!ELEMENT property (description?, converter?)>
<!ATTLIST property name CDATA #REQUIRED>
<!ATTLIST property expectedType CDATA #IMPLIED>
<!ATTLIST property required (true | false) "false">
<!ATTLIST property final CDATA  #IMPLIED>
<!ATTLIST property default CDATA  #IMPLIED>

<!ELEMENT converter (description?, parameter*)>
<!ATTLIST converter class CDATA #REQUIRED>

<!ELEMENT parameter (description?)>
<!ATTLIST parameter name CDATA #REQUIRED>
<!ATTLIST parameter value CDATA #REQUIRED>
