src-api/org/seasar/maya/builder/library/scanner/mld_1_0.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!NOTATION mld_1_0 PUBLIC
        "-//The Seasar Project//DTD Maya Library Definition 1.0//EN">

<!ELEMENT library (description?, processor*)>
<!ATTLIST library uri CDATA #REQUIRED>

<!ELEMENT description (#PCDATA)>

<!ELEMENT processor (description?, property*)>
<!ATTLIST processor name CDATA #REQUIRED>
<!ATTLIST processor class CDATA #REQUIRED>

<!ELEMENT property (description?)>
<!ATTLIST property name CDATA #REQUIRED>
<!ATTLIST property expectedType CDATA #IMPLIED>
<!ATTLIST property required (true | false) "false">
<!ATTLIST property defaultValue CDATA  #IMPLIED>
